<% if @user.errors.any? %>
	<ul>
	<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for(@user) do |f| %>
	Name: <%= f.text_field :name %><br/>
	Age: <%= f.text_field :age %><br/>
	Email: <%= f.text_field :email %><br/>
	<%= f.submit %>
<% end %>

<br/>
<%= link_to 'Back', action: 'index' %>