<h1>Listing Users</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Age</th>
		<th>Email</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.age %></td>
		<td><%= user.email %></td>
		<td><%= link_to 'Show', action: 'show', id: user %></td>
		<td><%= link_to 'Destroy', {action: 'destroy', id: user}, {method: "delete"} %></td>
		<td><%= link_to 'Edit', action: 'edit', id: user %></td>
	</tr>
	<% end %>
</table>

<br/>
<%= link_to 'New', action: 'new' %>
