<h1>Show User</h1>

<p>
	<b>Name: </b>
	<%= @user.name %>
</p>
<p>
	<b>Age: </b>
	<%= @user.age %>
</p>
<p>
	<b>Email: </b>
	<%= @user.email %>
</p>

<br/>
<%= link_to 'Edit', action: 'edit', id: @user %>
<%= link_to 'Back', action: 'index' %>